@require "helpers"

body
	margin 0
	padding 0
	color white
	background-color black

img 
	width 120px
	height auto


table
	margin 0 auto

#title
	position absolute
	top 0
	left 15px
	font-size 2em
	font-family courier new

#them
	height 100%
	width 100%
	display table
#theiricons
	vertical-align middle
	display table-cell
	height 100%

#you 
	text-align center
	
#you img
	width 250px
	height auto
	padding-bottom 80px

	
	
