@require "helpers"

body
	margin 0
	padding 0
	color white
	background-color black

img 
	width 120px
	height auto


table
	margin 0 auto
	padding-bottom 80px

#title
	position absolute
	top 0
	left 15px
	font-size 2em
	font-family courier new

#them
	height 100%
	width 100%
	display table
	padding-bottom 80px
	
#theiricons
	vertical-align middle
	display table-cell
	height 100%

#you 
	text-align center
	
#you img
	width 250px
	height auto
	padding-bottom 80px

form 
	background: #000 
	padding: 3px; 
	position: fixed; 
	bottom: 0; 
	width: 100%;
form input 
	border: 0; 
	padding: 10px; 
	width: 90%; 
	margin-right: .5%;
	
form button 
	position absolute
	top 0
	right 0
	width: 9%; 
	background: rgb(130, 224, 255); 
	border: none; 
	padding: 10px; 

#messages 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
#messages li 
	padding: 5px 10px; 
#messages li:nth-child(odd)  
	background: #eee; 

	
	
