extends template

block content
    h1 ENTER MAFIA
    #index
        img(src="/img/mafia.png")
    form
        .form-box
            .fb-item
                br
                input(type='string' name='roomName' placeholder='Room Name')
            .fb-item
                br
                input(type='password' name='password' placeholder='Password')
            .fb-item
                br
                input(type='string' name='nickname' placeholder='nickname')
            button#submit(type='button') SUBMIT
        

