extends template

block content
    form
        .form-box
            h2 Enter a Room
            .fb-item
                span Room Name
                br
                input(type='string' name='roomName' placeholder='Room Name')
            .fb-item
                span Password
                br
                input(type='password' name='password' placeholder='*****')
            .fb-item
                span Nickname
                br
                input(type='string' name='nickname' placeholder='nickname')
            button#submit(type='button') Submit
        

