extends template

block content

	#title
		p(id="task")

	#you
		div(id="youricon")
			img(id="your_icon_img")
	#them
		div(id="theiricons")
			table
				thead
					tr
						td 
				tbody
					tr
						td
							p(id="name_user_2")
						td
							p(id="name_user_3")
						td
						td
							p(id="name_user_4")
						td
							p(id="name_user_5")
					tr
						td 
							img(id="icon_user_2")
						td 
							img(id="icon_user_3")
						td
						td 
							img(id="icon_user_4")
						td 
							img(id="icon_user_5")
					tr
						td
							p(id="name_user_6")
						td
							p(id="name_user_7")
						td
							p(id="name_user_8")
						td
							p(id="name_user_9")
						td
							p(id="name_user_10")
					tr
						td
							img(id="icon_user_6")
						td
							img(id="icon_user_7")
						td
							img(id="icon_user_8")
						td
							img(id="icon_user_9")
						td
							img(id="icon_user_10")

	#messages
		form(action="")
			input(id="m" autocomplete="off")
			button Send
	script(src='/js/script.min.js')
	script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js") 		
	script.
		startGame()
		